{% if promo is empty %}
{% set promo = TimberPost(widget.promo_post) %}
{% endif %}
    <script>
      window.agreablePromoData = {
        "passport": {{promo.selected_passport}},
        "id": {{promo.ID}},
        "location": window.location.pathname,
        "site": window.location.hostname,
        "fields": [
          "email"{% if promo.get_field('data_to_capture')|length > 0 %},{% for type in promo.get_field('data_to_capture') %}"{{type}}"{% if not loop.last %},{% endif %}{% endfor %}{% endif %}
        ],
        {% if promo.collect_optins %}
          "optins": [
            {% for optin in promo.get_field('third_party_optins') %}
              {
                "optin_name":"optin-{{optin.optin_name|sanitize}}",
                "optin_label" : "{{optin.optin_label}}"
              }
              {% if not loop.last %}
                ,
              {% endif %}
            {% endfor %}
          ],
        {% endif %}
        "terms_and_conditions_label" : "{{promo.terms_and_conditions_label}}",
        "terms_and_conditions" : {{promo.terms_and_conditions|escape|json_encode}},
        "startTime": "{{promo.start_time}}",
        "endTime": "{{promo.end_time}}"
        {% if 'competition' in promo.get_field('data_to_capture')|keys %}
        ,"competitionQuestion": "{{promo.competition_question}}",
        "competitionAnswers": [
          {% for answer in  promo.get_field('competition_answers') %}
            {{answer|json_encode}},
          {% endfor %}
        ]
        {% endif %}
      }
    </script>
</div>
<div id="agreable-promotion">
  <h2 class="agreable-promo__time-message">
    Please turn on javascript to enter this promotion
  </h2>
</div>

{% if user.ID %}
  <div class="entry-data">
      Total entries: 
      <form><button class="btn" id="total-count" type="submit">&hellip;</button></form>
      
      Export all: 
      <form class="js-confirm-action" id="download-full-csv" method="get">
          <button class="btn" type="submit">CSV</button>
      </form>
      <form class="js-confirm-action" id="download-full-json" method="get">
          <button class="btn" type="submit">JSON</button>
      </form>

      <div id="correct-only" style="display: none;">
        Export correct only: 
        <form class="js-confirm-action" id="download-correct-csv" method="get">
            <button class="btn" type="submit">CSV</button>
        </form>
        <form class="js-confirm-action" id="download-correct-json" method="get">
            <button class="btn" type="submit">JSON</button>
        </form>
      </div>

      {% set thirdPartyOptinCount = 0 %}
      {% if promo.get_field('third_party_optins') %}
        Export optins: 
        {% for optin in promo.get_field('third_party_optins') %}
          <form class="js-confirm-action" id="download-optins-{{ loop.index }}-csv" method="get">
              <button class="btn" type="submit">{{optin.optin_name}} CSV</button>
          </form>
<!--
          <form class="js-confirm-action" id="download-optins-{{ loop.index }}-json" method="get">
              <button class="btn" type="submit">{{optin.optin_name}} JSON</button>
          </form>
-->
          {% set thirdPartyOptinCount = loop.index %}
        {% endfor %}
      {% endif %}


  </div>
  <script>
(function() {
  var passportData = window.agreablePromoData.passport
  var downloadUrl = 'http://www.calaisapi.com/data-record/' + passportData.id
  if (passportData.id) {
    document.getElementById('download-full-csv').action = downloadUrl + '/criteria/{"PostId":{{ promo.ID }}}/format/csv'
    document.getElementById('download-full-json').action = downloadUrl + '/criteria/{"PostId":{{ promo.ID }}}/format/json'

    if (window.agreablePromoData.competitionQuestion) {
      document.getElementById('download-correct-csv').action = downloadUrl + '/criteria/{"PostId":{{ promo.ID }}, "AnswerCorrect": true}/format/csv'
      document.getElementById('download-correct-json').action = downloadUrl + '/criteria/{"PostId":{{ promo.ID }}, "AnswerCorrect": true}/format/json'
      document.getElementById('correct-only').style.display = 'inline-block'
    }

    for (var optinIndex = 1; optinIndex <= {{thirdPartyOptinCount}}; optinIndex++) {
      document.getElementById('download-optins-' + optinIndex + '-csv').action = downloadUrl + '/criteria/{"PostId":{{ promo.ID }}, "ThirdPartyOptIn' + optinIndex + 'Value": true}/format/csv'
    }
    var request = new XMLHttpRequest();
    request.open('GET', downloadUrl + '/criteria/{"PostId":{{ promo.ID }}}/count', true);
    request.onload = function() {
      console.log('load total success')
      console.log(request.responseText)
      document.getElementById('total-count').innerText = request.responseText
    };
    request.send();
  }
})()
  </script>
  <style>
.entry-data {
  background: rgba(239, 239, 239, 0.5);
  border-top:2px solid black;
  bottom: 0px;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  z-index:999999999999;
}
.entry-data form {
  width: auto;
}
.entry-data form .btn {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  color:black;
  cursor: pointer;
  font-size: 16px;
  height: 22px;
  line-height: 18px;
  padding: 2px 5px;
  text-transform: none;
  vertical-align: middle;
}

.entry-data form .btn:hover {
  background: #333;
  color:white;
  border-color: green;
}
#total-count {
  border: none;
}
  </style>
{% endif %}
