.widget-quiz {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Module/Block: Quiz */
.quiz {
  background: transparent;
}
.quiz ul {
  overflow: hidden;
}
.quiz__question-container {
  position: relative;
}
/* Module/Block: Question */
.question {
  margin-bottom: 30px;
  overflow: hidden;
}
.question__number {
  margin-bottom: 1rem;
}
.question__label {
  float: left;
  margin-bottom: 0;
  line-height: 1.3rem;
}
/* Module/Block: Question Image */
.question-image {
  margin: 30px auto;
  max-width: 220px;
  display: block;
}
@media (min-width: 401px) {
  .question-image {
    max-width: 300px;
  }
}
/* Module/Block: Answers */
.answers {
  clear: both;
  margin-bottom: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.answers li {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 30px;
  float: left;
  position: relative;
  list-style: none;
}
.answers li:nth-child(even) {
  margin-right: 0;
}
/* Module/Block: Answer */
.answer {
  min-height: 90px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  display: table;
  background-color: rgba(255,153,0,0.5);
  width: 100%;
  height: 100%;
}
.answer:hover {
  background-color: #000;
  color: #fff;
}
.answer-text {
  display: table-cell;
  text-align: center;
  pointer-events: none;
  vertical-align: middle;
  padding: 10px;
}
.answer.selected {
  background-color: #000;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.answer .answer-image {
  width: 90%;
  margin: 5%;
}
/* Module/Block: Quiz Complete Panel */
.quiz-complete-panel {
  border-top: 1px solid #dcdcdc;
  padding-top: 30px;
  margin-bottom: -3px;
}
.quiz-complete-panel h1 {
  margin-bottom: 10px;
}
/* Module/Block: Quiz Complete Panel Progress */
.cp-progress {
  position: static;
}
.cp-progress.is-static {
  position: static;
}
@media (min-width: 768px) {
  .cp-progress {
    display: block;
    position: fixed;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0px;
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@media (min-width: 1024px) {
  .cp-progress {
    width: auto;
    max-width: 650px;
  }
}
.cp-progress ul {
  margin-bottom: 0;
  margin-right: 1px;
}
.cp-progress li {
  cursor: pointer;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding-left: 0;
  font-family: 'Graphik Web', 'Arial Black', 'Arial Bold', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 2px;
  margin-bottom: 3px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  list-style: none;
}
.cp-progress li:last-child {
  margin-right: 0;
}
.cp-progress li .front,
.cp-progress li .back {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-top: 0px;
  font-family: arial;
}
/* Module/Block: Score Panel */
.score-panel {
  display: block;
  color: #fff;
  margin-top: 14px;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.score-panel__message {
  margin-bottom: 17px;
  color: #000;
}
.score-panel__summary {
  color: #808080;
}
.score-panel__message,
.score-panel__summary {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.score-panel__message.is-revealed,
.score-panel__summary.is-revealed {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.score-panel__summary {
  margin-bottom: 18px;
  position: static;
  display: block;
}
.score-panel__image {
  display: none;
  max-width: 300px;
  margin-bottom: 22px;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 500px) {
  .outcome-image {
    float: right;
    margin-bottom: 30px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 0;
  }
}
/* Module/Block: Flipper */
.flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.flipper__circle {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-top: 0px;
  font-family: arial;
}
.flipper__circle--front {
  z-index: 2;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #000;
  color: #fff;
}
.flipper__circle--back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #dcdcdc;
  color: #000;
}
li.answered .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.quiz-complete.answered .flipper {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  color: #fff;
}
.quiz-complete.correct .flipper__circle {
  background-color: #228622;
  color: #fff;
}
.quiz-complete.incorrect .flipper__circle {
  background-color: #dd371e;
  color: #fff;
}
/* TODO */
/* Module/Block: Answer Info */
.answer-information {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.answer-information {
  display: none;
  position: relative;
  top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  background: #eaeaea;
  color: #000;
  padding: 10px;
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 16px;
  -webkit-box-shadow: 0px 5px 24px -7px rgba(10,8,8,0.53);
  box-shadow: 0px 5px 24px -7px rgba(10,8,8,0.53);
}
.answer-information:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -10px;
  height: 20px;
  width: 20px;
/* -webkit-transform: rotateY(180deg); */
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #eaeaea;
  top: -10px;
}
.quiz-complete .answer-information {
  display: block;
}
.answer-information.is-revealed {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
/*
 * The styles below are not implemented as yet
 * Is .ie-old going to be used in new site?
 * Is .chrome.windows transform: rotate an issue still?
 */
/*

.quiz-complete-panel h2, #cp-quiz-share, .cp-more, #cp-quiz {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.cp-more, #cp-quiz-share
  opacity 0
}

.at-resp-share-element a .label {
  font-family: 'Arial Black','Arial Bold',Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ie-old #cp-quiz .cp-progress li.answered .flipper, .ie-old #cp-quiz .cp-progress .front {
  transform: rotateY(0deg) !important;
}

.ie-old #cp-quiz .cp-progress li {
  line-height: 28px;
}

.ie-old #cp-quiz .cp-progress li.answered .back {
  display: none;
}
.ie-old #cp-quiz .cp-progress li .flipper .front {
  background-color: #7d7e7f;
}
.ie-old #cp-quiz .cp-progress li.answered .flipper .front {
  background-color: #000;
}
.ie-old #cp-quiz .cp-progress li .front, .chrome.windows #cp-quiz .cp-progress li .front, .chrome.windows #cp-quiz .cp-progress li .back {
  padding-top: 0px;
}
.ie-old #cp-quiz .cp-progress li.quiz-complete.correct .flipper .front {
  background-color: rgb(34, 134, 34);
}
.ie-old #cp-quiz .cp-progress li.quiz-complete.incorrect .flipper .front {
  background-color: #DD371E;
}

.ie-old #cp-quiz .cp-progress.cp-static  ul {
  width: 110%;
}
*/
