.agreable-promo__label {
  display: block;
  font-weight: bold;
  padding-top: 5px;
  margin-bottom: 2px;
}
.agreable-promo__input {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 100;
  outline: none;
  min-width: 100%;
  padding: 10px;
  position: relative;
  width: 100%;
}
.agreable-promo__input--invalid {
  border-color: #f00;
}
.agreable-promo__input--valid {
  border-color: #008000;
}
@media (min-width: 767px) {
  .agreable-promo--half {
    box-sizing: border-box;
    float: left;
    margin-bottom: 10px;
    max-width: 50%;
    width: calc(50% - 10px);
  }
  .agreable-promo--half:nth-child(odd) {
    margin-right: 10px;
  }
  .agreable-promo--half:nth-child(even) {
    margin-left: 10px;
  }
}
