@import 'nib'

.promo_plugin
  padding 0px !important
  margin 0px !important

.agreable-promo__label
  display block
  font-weight bold
  padding-top 5px
  margin-bottom 2px

.agreable-promo__input
  border-style solid
  border-width 1px
  box-sizing border-box
  font-size 16px
  font-weight 100
  outline none
  min-width 100%
  padding 10px
  position relative
  width 100%
  &--invalid
    border-color red
  &--valid
    border-color green

.agreable-promo--half
  @media (min-width:767px)
    box-sizing border-box
    float left
    margin-bottom 10px
    max-width 50%
    width calc(50% - 10px)
    &:nth-child(odd)
      margin-right 10px
    &:nth-child(even)
      margin-left 10px

.agreable-promo__time-icon
  clearfix()
  margin auto
  max-height 60px
  position relative
  width 60px
  svg
    max-width 100%

.agreable-promo__time-message
  text-align center

.agreable-promo__optin
  clearfix()
  cursor pointer
  margin-top 12px
  label
    cursor pointer

.agreable-promo__checkbox
  cursor pointer
  margin 0 1em 0 0
  outline none
  position relative
  top -5px
  user-select none
  &:after, &:before
    background white
    content " "
    left 0
    position absolute
    top 0
    height 16px
    width 16px
  &:after
    border 2px solid #eaeaea
    z-index 20
  &:checked
    &:before
      background transparent
      content "✔︎"
      text-align center
      top 1px
      z-index 30

.agreable-promo__textarea
  display block
  max-width 100%
  min-height 50px
  min-width 100%
  padding 10px

.agreable-promo__button
  cursor pointer
  margin-top 12px
  max-width 300px

.agreable-promo__message
  clear both
  display block
  font-size small
  font-style italic
  margin 0.8em 0
  text-align center
  &--error
    color red


.agreable-promo__answer-label
  cursor pointer
  clearfix()
  min-width 100%

.agreable-promo__answer-input
  position relative
  top -4px
  margin-right 12px
