@import 'nib'

#agreable-promotion
  .promo_plugin
    padding 0px !important
    margin 0px !important

  .agreable-promo__label
    display block
    font-weight bold
    padding-top 5px
    margin-bottom 2px

  .agreable-promo__input
    border-style solid
    border-width 2px
    box-sizing border-box
    font-size 16px
    font-weight 400
    outline none
    min-width 100%
    padding 10px
    position relative
    width 100%
    &--invalid
      border-color #E30002FF
    &--valid
      border-color #00E404FF

  .agreable-promo--half
    @media (min-width:767px)
      box-sizing border-box
      float left
      max-width 50%
      width calc(50% - 10px)
      &:nth-child(odd)
        margin-right 10px
      &:nth-child(even)
        margin-left 10px

  .agreable-promo__time-icon
    clearfix()
    margin auto
    max-height 60px
    position relative
    width 60px
    svg
      max-width 100%

  .agreable-promo__time-message
    text-align center

  .agreable-promo__checkbox-wrapper
    clearfix()
    cursor pointer
    margin-top 12px
    position relative
    label
      cursor pointer


  .agreable-promo__textarea
    font-size 12px
    line-height 1.4
    display block
    max-width 100%
    min-height 50px
    min-width 100%
    padding 10px

  .agreable-promo__button
    cursor pointer
    margin-top 12px
    max-width 300px

  .agreable-promo__button--close-modal
    @media (min-width:420px)
      max-width 240px

  .agreable-promo__validation-message
    color red
    display block
    font-size 12px
    margin 0.2em 0

  .agreable-promo__terms
    clearfix()

  .agreable-promo__terms-column
    display block
    float left
    width 100%
    @media (min-width: 430px)
      width 50%

  .agreable-promo__show-terms
    display inline-block
    font-size 12px
    @media (min-width:430px)
      float right
      text-align right
      margin-top 20px

  .agreable-promo__competition-answer
    clearfix()
    color #7B7B7B
    cursor pointer
    margin-bottom 40px
    position relative
    text-align left
    font-size 21px
    user-select none
    -webkit-tap-highlight-color rgba(0,0,0,0)
    &.agreable-promo__competition-answer--selected-true
      transition color 0.2s ease-in-out
      color black

  .agreable-promo__competition-answer__text
    margin-left 80px

  .agreable-promo__checkbox
    border 2px solid #eaeaea
    clearfix()
    left 0
    top 0
    position absolute
    height 30px
    width 30px
    user-select none
    -webkit-tap-highlight rgba(0,0,0,0)

  .agreable-promo__checkbox__tick
    padding 2px
    height 100%
    fill transparent
    stroke black
    stroke-width 12px
    stroke-linecap round
    stroke-linejoin round
    path
      stroke-dasharray 126.37px, 126.37px
      stroke-dashoffset 126.37px
  .agreable-promo__checkbox__tick--true path
    transition stroke-dashoffset 0.25s ease-in 0s
    stroke-dashoffset 0px

  .agreable-promo__checkbox-label
    display block
    margin-left 40px
    margin-bottom 10px

  .agreable-promo__radio
    background #333
    border-radius 100%
    display inline-block
    height 30px
    opacity 1
    position absolute
    left 18px
    width 30px
    vertical-align middle
    -webkit-appearance none

  .agreable-promo__radio-highlight
    left 0px
    width 70px
    height 70px
    position absolute
    margin-top -15px
    path
      fill transparent
      stroke-dasharray 275.003px, 275.003px
      stroke-dashoffset 275.01px
      stroke-linecap round
      stroke-linejoin round
      stroke-width 4px
      stroke black

  .agreable-promo__radio-highlight--show
    path
      transition stroke-dashoffset 0.25s ease-in 0s
      stroke-dashoffset 0px

  .agreable-promo__back-button
    display inline-block
    margin-top 10px

body.ReactModal__Body--open
  overflow-y hidden

.ReactModal__Overlay
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;


.ReactModal__Overlay--after-open
  opacity: 1
  transition: opacity 150ms ease-out

.ReactModal__Content
  transform: scale(0.5) rotateX(-30deg)

.ReactModal__Content--after-open
  transform: scale(1) rotateX(0deg)
  transition: all 150ms ease-in

.ReactModal__Overlay--before-close
  opacity: 0

.ReactModal__Content--before-close
  transform: scale(0.5) rotateX(30deg)
  transition: all 150ms ease-in
